/************** Footer Start **************/
.footer {
    color: #6d7780;
    padding: 30px 0;
    border-top: 1px solid #b4b9bd;
    h6 {
        font-size: 15px;
        font-weight: 300;
    }
}
/************** Footer End **************/
