@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #e6e6e6;
    color: #6d7780;
    line-height: 1.6;
}

/************** Layout Start **************/
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 30px;
    padding: 0 15px;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    grid-column: span 12;
}

.main {
    grid-column: span 9;
    max-width: 100%;
}

.main-post {
    grid-column: span 12;
}

.sidebar {
    grid-column: span 3;
    max-width: 100%;
}

.footer {
    grid-column: span 12;
}

@media (max-width: 992px) {
    .wrapper {
        grid-gap: 0;
    }
    .header {
        order: 1;
    }
    .main,
    .main-post {
        grid-column: span 12;
        order: 3;
    }
    .sidebar {
        grid-column: span 12;
        order: 2;
    }
    .footer {
        order: 4;
    }
}

/************** Layout End **************/
