/************** Search Start **************/
.search {
    .seach-input {
        display: block;
        height: 40px;
        width: 400px;
        max-width: 100%;
        padding: 5px 10px;
        border: none;
        background: #fff;

        &:focus {
            outline: none;
        }
    }

    .seach-submit {
        margin-top: 10px;
        height: 40px;
        padding: 5px 30px;
        background: #c8cdd2;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease;
        &:focus {
            outline: none;
        }
        &:hover {
            background: darken($color: #c8cdd2, $amount: 10);
        }
    }
}
/************** Search End **************/
